<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="./assets/images/store/outlet_popupstore.jpg" width="100%" />
      <p style="font-size: 11px;">Foto > @dome_mue</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>
        OUTLET STORE KURFÜRSTEN GALERIE<br />
        &emsp;24.03. — 14.04.
      </h1>
      <p>
        <audio controls>
          <source src="https://icecast.outlet.delivery:8443/live" type="audio/mpeg" />
        </audio>
      </p>
      <p>
        Outlet Label and Outlet Radio have joined forces to become the ultimate delivery destination. We're breaking
        down barriers between digital and local shopping by creating a unique showroom that represents participating
        artists and their works, bringing our self-produced merchandise to life. We've got everything you need to
        elevate your wardrobe, music and art collection while supporting talented artists. Don't miss out on this
        one-of-a-kind shopping experience that combines the best of both worlds.
      </p>
    </div>
    <div class="col-12 offset-md-3 col-md-3">
      <img src="./assets/images/store/showroom.jpg" width="100%" />
      <p style="font-size: 11px;">Graphic > @julskizwei</p>
    </div>
  </div>
</div>
