<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>
        <p>
          Outlet is a contemporary music platform focused on bringing a rich palette of underground styles to our
          customers.
        </p>
        <p>
          We deliver you carefully crafted in-house productions made by a close circle of friends and affiliates, which
          are constantly trying to push genre boundaries to the limit and pricing to the minimum.
        </p>
      </h2>
    </div>
    <div class="col-12 col-md-6">
      <h2>
        Music:<br />
        <a href="https://soundcloud.com/outlet-label" target="_blank">SoundCloud</a><br />
        <a href="http://outlet-label.bandcamp.com/" target="_blank">Bandcamp</a><br />
        <a href="https://open.spotify.com/album/6x40FpgCJb7Fw52caewGXR" target="_blank">Spotify</a>
      </h2>
      <h2>
        Connect:<br />
        <a href="https://www.instagram.com/outlet.label/" target="_blank">Instagram</a><br />
      </h2>
    </div>
    <div class="col-12 col-md-6">
      <img src="./assets/images/about/outlet_studio.jpg" width="100%" />
    </div>
    <div class="col-12">
      <p><span translate>APP_NAME</span> • <span translate>Version</span> {{ version }}</p>
    </div>
  </div>
</div>
