/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* NAVBAR */

.navbar-light {
  & .navbar-nav {
    & .nav-link {
      color: black;
    }

    & .nav-link.active {
      color: black;
      text-decoration: underline;
    }

    & .nav-link:hover {
      color: black;
      text-decoration: dotted;
    }
  }
}
