<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cat #</th>
        <th scope="col">Artist</th>
        <th scope="col">Title</th>
        <th scope="col">Format</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let release of releases">
        <td>{{ release.cat }}</td>
        <td>{{ release.artist }}</td>
        <td>{{ release.title }}</td>
        <td>{{ release.format }}</td>
        <td>{{ release.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
