<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home">OUTLET</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/releases" routerLinkActive="active">
          <span translate>Releases</span>
        </a>
        <a class="nav-item nav-link" href="https://outlet-label.bandcamp.com/" target="_blank">
          <span translate>Bandcamp</span>
        </a>
        <a class="nav-item nav-link" routerLink="/releases" routerLinkActive="active">
          <span translate>Social</span>
        </a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
          <span translate>Info</span>
        </a>
        <a class="nav-item nav-link" href="#" target="_blank">
          <span translate>Subscribe</span>
        </a>
      </div>
    </div>
  </nav>
</header>
